/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

body {
    background-color: black; 
}


/* ------------------------------Stili pagina contenitoreU-------------------------------------------------------- */

.contenitoreU {
    height: 50px;
    width: 100vw;
    color: white;
    position: fixed;
    z-index: 1;
    background-color: black;
}

.contenitoreU a{
    text-decoration: none;
    background-color: rgba(121, 121, 121, 0.5);
    color: white;
    border-radius: 20%;
    cursor: pointer;
    width: 125px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    position: fixed;
    z-index: 1;
    padding-top: 5px;
    top: 0;
    right: 50px;
}

.contenitoreU .fa-maximize {
    background-color: rgba(121, 121, 121, 0.5);
    border-radius: 20%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: fixed;
    text-align: center;
    top: 0;
    right: 10px;
    padding-top: 5px;
    margin-top: 10px;
    z-index: 1;
}

/* ------------------------------Stili pagina contenitorec-------------------------------------------------------- */

.contenitoreC {
    width: 100vw;
    display: flex;
    overflow: auto; 
    flex-wrap:wrap;
    align-content: start; /* gestiste lo spazio orizzontale tra le righe */
    padding-top: 50px;    /* distanza dal contenitore duperiore   */
}

.Img {

    width: calc((100vw / 7) - 20px);
    margin: 10px 10px;
    max-height: 200px;
    background-color: red;
    position: relative;
    
}

.Img img {
    width: 100%;
    height: 100%;
}

/* testo interno immagine */

.TextIn {
    width: 120px;
	height: 40px;
	background-color: rgba(121, 121, 121, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 10px 0px;
}

.TextIn .fa-microphone-slash {
    font-size: 20px; 
}

.TextIn span {
    font-size: 15px; 
}

/* ------------------------------Stili pagina contenitoreD-------------------------------------------------------- */

.contenitoreD {
    height: 100px;
    width: 100vw;
    color: white;
    display:flex;
    flex-direction: row;
    align-content: start;
    background-color: rgb(63, 63, 63);
     
}

.contenitoreD .mute {
    flex-basis: 10%;
    padding: 20px;
    
}
.contenitoreD h5 {
    padding-top: 5px;
   
}
.contenitoreD .fa-microphone{
    font-size: 40px;
    padding-left: 5px;
}

.contenitoreD .fa-angle-up{
    font-size: 20px;
    padding-left: 25px;
    
}