/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

body {
    background-color: black; 
}


/* ------------------------------Stili pagina contenitoreU-------------------------------------------------------- */

.contenitoreU {
    height: 50px;
    color: white;
    padding-left: 90%;
}

.contenitoreU a{
    text-decoration: none;
    background-color: rgba(121, 121, 121, 0.5);
    color: white;
    border-radius: 20%;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
   
}

.contenitoreU .fa-maximize {
    background-color: rgba(121, 121, 121, 0.5);
    border-radius: 20%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
}

/* ------------------------------Stili pagina contenitorec-------------------------------------------------------- */

.contenitoreC {
    height: calc(100vh - 150px);
    overflow: auto; 
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}

.Img {
    position: relative;
    height: 200px;
    padding: 10px 10px;
}

.Img img {
    width: 100%;
    height: 100%;
}

/* testo interno immagine */

.TextIn {
    width: 120px;
	height: 40px;
	background-color: rgba(121, 121, 121, 0.5);
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 10px 0px;
}

.TextIn .fa-microphone-slash {
    font-size: 20px; 
}

.TextIn span {
    font-size: 15px; 
}

/* ------------------------------Stili pagina contenitoreD-------------------------------------------------------- */

.contenitoreD {
    height: 100px;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222222;
}

.contenitoreD h5 {
    display: block; 
    margin-top: 10px;
}

.contenitoreD .fa-angle-up{
    font-size: 15px;
    padding-left: 30px;
    margin-right:10px;
}

/* Lato sinistro */
.contenitoreD .Lato_sin{
    flex-basis: 20%;
    padding: 20px;
}

/* parte centrale */
.contenitoreD .Centro{
    padding: 20px 0px 0px 250px;
    flex-basis: 70%;

}

/* Lato destro */
.contenitoreD .Lato_des {
    padding: 30px;
    flex-basis: 10%;
    background-color: lightgray;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-left: 20px;

}

li i {
    font-size: 30px;
    margin-left: 10px;
}

li .fa-user-group {
    margin-left: 60px;
}

li .fa-share-from-square {
    color: green;
    margin-left: 50px;
}


li .fa-border-all {
    margin-left: 50px;
}

.Lato_des li h5 {
    color: red;
}
 

